snippet ta "Description" 
<${1:div}>

</$1>

endsnippet

snippet t "Description" b
<${1:div}>
HelloWorld


</${1/(\w+).*/$1/}>
endsnippet

snippet html "Html" b
<html>
<head> </head>

<body>

<${1:div}>
</${1/(\w+).*/$1/}>

</body>
</html>



endsnippet
