snippet php "php init" b

<?php
//-- TODO ${1:desc} `echo $USER` `!v strftime("%c")`

?>
endsnippet


snippet fori "For loop" b


for($count = 0;$count<=${1:10};$count++){


}
endsnippet

snippet forw "While loop" b

while(true){
	if($1 $2 $3){
		break;

	}


}


endsnippet
snippet e "Echo" b

echo $1;

endsnippet

snippet fun "Description" b
function $1($2){
	return $0;
}


endsnippet

snippet ary "Array" b

array($2);

endsnippet
